* {
margin: 0;
padding: 0;
}

body {
background: #55505cff;
}

#maindiv {
background: #d6f8d6ff;
border: solid;
border-color: #7fc6a4ff;
border-radius: 10px;
margin-left: 10%;
margin-right: 10%;
padding: 10px;
}

h2 {
text-align: center;
}

.parcent {
background: #7fc6a4ff;
text-align: center;
border: solid;
border-color: #5d737eff;
}

#redtext {
color: red;
}

.globeicon {
width: 50px;
height: 50px;
vertical-align: middle;
margin: 10px;
}

.regicon {
width: 20px;
height: 20px;
vertical-align: middle;
margin: 5px;
}

ul {
background: #faf33eff;
border-radius: 20px;
display: inline-block;
padding: 10px;
margin: 10px;
line-height: 200%;
text-align: left;
}

#footer {
}

.infotext {
background: #faf33eff;
margin-left: 25%;
margin-right: 25%;
line-height: 150%;
text-align: left;
}
