*, html {
	max-height: 100vh;
	margin: 0;
	padding: 0;
	font-size: 1em;
}

body {
	margin: 0;
	padding: 0;
	background-image: url("frog.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.rectangle {
	background: rgba(0, 107, 109, 0.7);
	margin: 10px;
	padding: 10px;
}

#header1 {
	font-size: 20pt;
	text-align: center;
}

#header2 {
	text-align: center;
}

#links {
	text-align: center;
	line-height: 2;
}
